@page "/journal"
@using RegionSyd.Common.DTOs
@using RegionSyd.Common.Enums


<div class="container">
</div>

<div class="container">
    @foreach (var entry in JournalEntries)
    {
        <div class="row">
            <div class="col-1">
                Senest opdateret
                <p>@entry.LastEdited.ToShortDateString()</p>
            </div>
            <div class="col-1">
                 Forløb startdato
                <p>@entry.DateAdded.ToShortDateString()</p>
            </div>
            <div class="col-2">
                 Status
            </div> 
            <div class="col-2">
                 Sygehus
                 <p>@entry.TreatmentPlaceName</p>
                    
            </div> 
            <div class="col-2">
                 Afdeling
                <p>@entry.DepartmentName</p>
            </div> 
            <div class="col-2">
                 Diagnose
                 <p>@entry.Diagnosis</p>
                    
            </div> 
            <div class="col-2">
                 Notat
                 <p></p>   
            </div>
        </div>
    }
</div>



@code {

    //FILE icon <i class="fa-solid fa-file-lines"></i>

    //TODO
    public List<JournalEntryDTO> JournalEntries { get; set; }

    protected override void OnInitialized()
    {
        JournalEntries = new List<JournalEntryDTO>()
        {
            new JournalEntryDTO()
            {
                    DateAdded = new DateTime(2022,08,18),
                    LastEdited = new DateTime(2022,08,18),
                    Description = "Test",
                    DepartmentName = "Øre-næse-halskirurgi",
                    EmployeeCode = "D123",
                    EmployeeName = "Dr. Martin Hansen",
                    TreatmentPlaceName = "Sygehus Sønderjylland Aabenraa",
            },
        };
    }
}
